<!-- Start with one table row
User clicks button to add instructions
    Option for sub instruction
Generates next row -->

<br>
<div class="col align-self-center" id = "divtable"  style="overflow-wrap: break-word;">
    <table style="width: 100%">
        <tr><input type="text" id="recipeName" placeholder="Recipe Name" [(ngModel)] = "recipeName"></tr> 
        <hr>
        <tr id="instructionEntry">
            <div>
                <td ><input type="text" id="desc" placeholder="Description" [(ngModel)] = "description"></td>
                <td>Duration:<input type="number" id="hour" min="0" max="24" [(ngModel)] = "hourInput"></td>
                <td> : <input type="number" id="minute" min="0" max="59" [(ngModel)] = "minuteInput"></td>
                <td> : <input type="number" id="second" min="0" max="59"  [(ngModel)] = "secInput"></td>
            </div>     
        </tr>
        <br>
        <tr>
            <div class="btn-group btn-group-toggle" >
                <td  id="superbutton"><button class="btn btn-outline-primary" (click)="createSuperRow()">Add Instruction</button></td>
                <td id="subbutton"><button class="btn btn-outline-primary" (click)="createSubRow()">Add Sub-Instruction</button></td>
            </div>
        </tr>
        <hr>
        <div  >  
            <table class="col table table-striped table-success table-hover" >
            <tr style="width: 100%; white-space: normal" scope="col" *ngFor = "let instruction of instructions" >
                <td scope="col" *ngIf="instruction.isSub"></td>
                <td   scope="col"><p style="white-space: none">{{instruction.description}}</p></td>
                <td  scope="col" *ngIf="instruction.duration === 0; else elseBlock"></td>
                <ng-template #elseBlock  style="margin:20px" ><p style=" padding-top: 12px" >{{instruction.duration | time}}</p></ng-template>
                <td style="width:90px; height:50px"id="deletebutton"><button class="btn btn-outline-danger" (click)="deleteInstruction(instruction)">Delete</button></td>
            </tr>
        </table>
        </div>
    </table>
    <hr>
    <div class="btn-group btn-group-toggle" >
        <button class="btn btn-outline-primary" (click)="submitRecipe()">Submit Recipe</button>
        <button class="btn btn-outline-primary" (click)="getRecipes()">Get Recipes</button>
    </div>
   <br>
   <p>     </p>
</div>