#borderLeft {
    
    top: 50%;
    bottom: 0;
  }
#divtable{
    background-color: lightgoldenrodyellow; padding-left: 20px;
     padding-top: 20px;
      width:  70%; 
      left: 15%; 
      border: 3px solid #73AD21; 
      position:relative;
}
#breakword{
    display: inline-block;
    word-wrap: break-word;
    width: 25%;
}