/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background:url("https://www.thespruce.com/thmb/nq_h7Jo0zCw7DvG2FdCKRwkgX64=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/bright-modern-white-kitchen-184844742-5b705d2946e0fb00256f722c.jpg") no-repeat ;
    background-attachment: fixed;
    background-size:  1500px 1000px;
  }